*{
    font-family: sans-serif;
}
#log{
    color: rgb(246, 240, 240);
    border: transparent;
    background-color:#CE0505 ;
    font-size: large;
    padding-right: 30px;
    text-decoration: none;
}

.background-color{
    background-color: #FBFBFB;
}

#e{
    display: inline-flexbox;
    text-align: center;
    background-color: white;
    color: #EB2929;
    border-radius: 48%;
    padding: 5px;
    font-size: 40px;
    position: absolute;
    border: transparent;
    margin-top: -8px;
    margin-left: 5%;

}
#head{
    background-color: #CE0505;
    text-align: right;
    padding: 20px;
    font-size: medium;
}

#create{
    color: white;
    border-color: 1px solid white;
    background-color:#CE0505 ;
    font-size: large;
    padding: 10px;
}

#myB{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 36px;
    margin-left: 5%;
    padding: 10px;
    color: #192F60;
    line-height: 55;
    margin-top: -50%;
}

.Container{
    display: inline-block;
    background-color: white;
    margin-left: 5%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #00000029;
    transition: 0.3s;
    justify-content: space-around;
}

.tagfilt{
    font-family: poppins;
    color: #192F60;
}

.idli{
    width:125px;
    height:125px;
    border-radius: 20%;
}

#cuisine{
    display: inline-block;
    width: 300px;
    justify-content: inherit;
}

#selectcontainer{
    width: 70%;
    float: left;
    margin-left: 400px;
    margin-top: -80%;
    padding: 10px;
    
}

#myCard{
    width: 13%;
}

#xyz{
    width: 70%;
    float: left;
    margin-left: 400px;
    margin-top: -59%;
    padding: 10px;
    justify-content:space-around;
}

