#e{
   font-family: 'Courier New', Courier, monospace;
   font-weight: SemiBold;
   font-size: 33px;
   color: blueviolet;
   float: left;
}

.login{
    font-family: 'Courier New', Courier, monospace;
    font-weight: medium;
    font-size: 16px;
    color: #070707;
    float: right;
    padding: 10px;
}

#header{
    background-color: #CE0505
}